.title {
  font-family: 'Concert One', cursive;
  color: black;
}
body {
  background-color: #f8f8ff;
}
.page-title {
  font-size: 80px;
  text-align: center;
  line-height: 0.25;
}
.text {
  height: 90px;
}
.about {
  font-size: 16px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
#errormsg {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  color: red;
  font-weight: bold;
  display: hidden;
}
.form-title {
  font-size: 30px;
  text-align: center;
}
.header {
  margin-bottom: 60px;
}
.form-main {
  border-radius: .3rem;
  background-color: #e9ecef;
  padding: 2rem 1rem;
  width: 50rem;
  text-align: center;
}
.form-div {
  text-align: center;
}
.bottom-space{
  margin-bottom: 3rem;
}
.gj-datepicker {
  margin-right: auto;
  margin-left: auto;
}
.ans-main {
  font-family: 'Work Sans', sans-serif;
}
#footer {
  height: 5vh;
  text-align: center;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #e9ecef;
  font-family: 'Work Sans', sans-serif;
}
